<section class="section section--primary">
    <div class="container">
        <h2 class="headline headline--beta headline--centered">Code of Conduct</h2>
        <p>
            CoderFaire is a conference for all developers, from all backgrounds.
            Except jerks.
        </p>
        <p>
            To ensure everyone has a good time, we want to set our behavior
            expectations up front. Basically, don&rsquo;t be a jerk, and
            everyone will have a great time.
        </p>
        <p>
            CoderFaire is governed by the <a href="https://www.python.org/psf/codeofconduct/">Python
            Code of Conduct</a>. More information is available at
            <a href="https://www.python.org/psf/codeofconduct/">https://www.python.org/psf/codeofconduct/</a>
        </p>
        <p>
            To report a violation, please contact us via email before the event
            at <a href="mailto:organizers@coderfaire.com">organizers@coderfaire.com</a>.
            For the day of the conference, we&rsquo;ll provide a phone number to
            call, or you may find any organizer wearing a red shirt.
        </p>
    </div>
</section>
