<div class="container">
    <div class="section row">
        <div class="col-md-12">

            <h3 class="headline headline--beta">Got a talk idea? We want to see it!</h3>
            <p>
                We are excited that you want to participate in this year’s
                CoderFaire Tennessee. Hosted in Nashville, CoderFaire is a
                statewide conference dedicated to celebrating the developer
                talent in Tennessee.
            </p>
            <p>
                CoderFaire Tennessee is a polyglot conference. We want to see
                talks from a wide range of programming languages on a variety
                of subjects from devops to application development to robotics
                and more! We are looking for technical talks. You are a
                developer. You are talking to other developers. Share something
                you have learned.
            </p>

            <h3 class="headline headline--beta">Potential Topics to Present On</h3>
            <ul>
                <li>Best Practices in Software Development</li>
                <li>Client-side development</li>
                <li>Database development</li>
                <li>Desktop applications</li>
                <li>Devops</li>
                <li>Infrastructure</li>
                <li>Internet of Things</li>
                <li>Maker topics and technologies</li>
                <li>Mobile development</li>
                <li>Security issues</li>
                <li>Server-side development</li>
                <li>Testing and QA</li>
                <li>UX/UI</li>
                <li>Something we’ve not yet thought of—surprise us</li>
            </ul>
            <p>
                The most important thing you need to know is to <strong>share
                your passion</strong>.
            </p>

            <h3 class="headline headline--beta">The Details</h3>
            <ol>
                <li>
                    Leave your dogma at the door. There will be developers from
                    all tech stacks, and representing all OSes, languages,
                    hardware, and editors. Feel free to showcase your favorite,
                    but do not tear down others in the process.
                </li>
                <li>
                    Read the <a href="{{ url('speaker_agreement') }}">Speaker’s
                    Agreement</a>. By submitting a talk, you are
                    stating that you have read it and agree to abide by it.
                </li>
                <li>
                    Read the Code of Conduct (see below). By submitting a talk
                    you agree that you have read it and will abide by it.
                </li>
                <li>
                    All entries will be reviewed by our panel of developers.
                    The decisions of the panel are final.
                </li>
                <li>
                    Once the talks have been selected, everyone will be
                    notified. If you are selected, we will let you know what
                    the next steps are. If you are not selected, we will let
                    you know that as well.
                </li>
                <li>
                    Submit as many talks as you like.
                </li>
                <li>
                    The CoderFaire Tennessee ’16 Call for Papers is open to any
                    software developer living in Tennessee.
                </li>
                <li>
                    This Call for Papers will close <strong>July 30th, 2016</strong>.
                    Don’t wait ’til the end, submit now!
                </li>
            </ol>
            <p>
                Thanks for wanting to be a part of CoderFaire Tennessee ’16!
            </p>
        </div>
    </div>
</div>

{% include "_conduct.twig" %}
