{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <div class="section row">
        <div class="col-md-12">

            <h2 class="headline headline--beta">Speaker’s Agreement</h2>
            <p>
                This Speaker’s Agreement to outline the expected responsibilities of
                CoderFaire Tennessee speakers.
            </p>

            <h3 class="headline headline--beta">Compensation</h3>
            <p>
                I understand that CoderFaire Tennessee will provide one (1)
                complimentary ticket per session speaker. It is my responsibility as a
                speaker to register in advance of arriving at CoderFaire Tennessee.
            </p>

            <h3 class="headline headline--beta">Session preparation</h3>
            <p>
                I understand that if I am unable to devote the time and energy to this
                effort, I will notify the CoderFaire Tennessee planning team and they
                will replace my session.
            </p>
            <p>
                I understand that I am responsible for obtaining any required consents,
                permissions, and clearances to display or otherwise use any materials
                (both visual and audio) that I incorporate in my session.
            </p>

            <h3 class="headline headline--beta">Promoted content</h3>
            <p>
                I understand that my session is for information sharing purposes only
                and that it is not a marketing opportunity. I agree that I will not use
                my session to promote any company, brand, or product.
            </p>

            <h3 class="headline headline--beta">Staying on topic and on time</h3>
            <p>
                I understand that staying focused on the topic outlined in the title
                and description of my session is extremely important. During my session,
                I pledge to stay focused on the topic at hand and make sure that the
                information presented adheres to the difficulty level (beginner,
                intermediate, or advanced) designated for my session.
            </p>

            <h3 class="headline headline--beta">Code of Conduct</h3>
            <p>
                I understand that my slides and on-stage remarks must abide by the Code
                of Conduct (see below) for this conference. I understand that my slides may be
                reviewed ahead of time, and that I may need to modify my presentation
                if it does not adhere with the Code of Conduct. I also understand that
                if, while I am presenting, I fail to abide by the spirit of the Code of
                Conduct, my session may be stopped by a member of the CoderFaire
                Tennessee team.
            </p>

            <h3 class="headline headline--beta">Contact us</h3>
            <p>
                We are excited to welcome you as a speaker at CoderFaire Tennessee and
                look forward to answering any questions you may have. You can contact
                us at <a href="mailto:organizers@coderfaire.com">organizers@coderfaire.com</a>.
            </p>

        </div>
    </div>
</div>

{% include "_conduct.twig" %}
{% endblock %}
